@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#inputs-principais {
    background-color: white;
    margin-top: 10px;
    max-width: 500px;
    width: 100%;
    height: 30%;
    border-radius: 8px;
    padding: 30px;
}

#footer-vet {
    margin-left: 420px;
}

header {
    background-color: #1d7044;
    border: none;
    color: white;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

footer {
    background-color: #1d7044;
    border: none;
    color: white;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.botao-inicio {
    margin-top: 10px;
    border: none;
    background-color: #1d7044;
    color: white;
    margin-left: 545px;
}

#botao-cadastro {
    border: none;
    background-color: #1d7044;
    color: white;
    margin-left: 3px;
    margin-bottom: -5px;
    padding-right: 15px;
}

#botao-exibicao {
    border: none;
    background-color: #1d7044;
    color: white;
    margin-right: ;
}

.erro {
    color: red;
    text-align: center;
}

.sucesso {
    color: green;
    font-weight: bold;
    text-align: center;
}

#botao-registrar {
    margin-top: 25px;
    border: none;
    background-color: #1d7044;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: -10px;
    margin-bottom: 30px;
    cursor: pointer;
}

h1 {
    margin-left: 460px;
    margin-top: 10px;
}

h2 {
    margin-left: 80px;
    margin-top: 10px;

}

.hidden{
    display: none;
}